:root {
  --primary-color: black;
  --secondary-color: darkred;
  --text-color: white;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-size: 16px;
}

navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

navbar nav {
  background-color: var(--secondary-color);
  height: 100%;
}

navbar nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

navbar nav ul li {
  padding: 20px;
}

navbar nav ul li:last-child {
  padding-right: 50px;
}

navbar nav ul li a {
  color: var(--text-color);
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

navbar nav ul li a:hover,
navbar nav ul li a:focus {
  color: var(--primary-color);
}

section {
  height: calc(100vh - 63px);
  padding-top: 63px;
}

section#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#welcome-section img#profile-photo {
  width: 250px;
  height: 250px;
}

figure figcaption {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

section#welcome-section h2 {
  margin: 0;
}

section#welcome-section p {
  color: var(--secondary-color);
  margin: 0;
}

div#about-section {
  height: 100vh;
  width: 28vw;
  margin: 0 auto;
}

div#about-section div#about-me, div#about-section div#skills {
  margin: 50px 0;
}

div#about-section ul#stacks {
  padding: 0;
}

div#about-section ul#stacks li {
  list-style: none;
  padding: 5px;
}

div#about-section div#external-link a {
  text-decoration: none;
}

div#contact-section {
  height: 100vh;
  text-align: center;
}

div#contact-section > p {
  color: darkred;
}

div#contact-section a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: darkred;
  text-align: center;
}

footer p {
  padding: 20px;
}

footer p a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

footer p a:hover {
  color: black;
}